body {
    background: #475160;
    margin: 0;/*pongo 0 por que body por default tiene  8px*/
}
/*Memu*/
#nav {
    height: 40px;
    width: 96%;
    padding:20px 2%;
}
#mobile {
    width: 60px;
    height: 50px;
    margin-top: -40px;
    float: right;
    cursor: pointer;

}
#mobile span {
    display: block;
    margin: 6px 0;  
    border-radius: 5px;
    height: 7px;
    width: 100%;
    background: white;
}
/*nav-mibile*/
.nav-mobile {
    display: none;
    width: 50%;
    height: 100%;
    position: fixed;
    background: white;
}
.nav-mobile ul li{
    list-style: none;
}
.nav-mobile ul li a{
    display: block;
    padding: 10px 0;
    color: black;
    text-decoration: none;
}
.nav-mobile ul li a:hover {
    color: #48D7B7;
}



/*         */
/*Banner*/
#banner {
    background: #48D7B7;
    padding: 20px 0;
}
#banner h1 {
    font-family: Open Sans;
    margin: 0;
    margin-bottom: 6px;
    text-align: center;
    font-size: 27px;
}
#banner p {
    color: white; 
    font-family: Open Sans;
    margin: 0;
    font-size: 16px;
    text-align: center;
}
#banner img { 
    display: block;
    margin: 0 auto;/*para centrar la imagen*/
}
/******************************/
.cuzco {
    height: 300px;
    width: 100%;
    padding: 20px 0 ;
}
.pr {
    height: 300px;
    width: 90%;
    padding:  0 ;
    background: white;
    display: block;
    margin: 0 auto;
    border-radius: 20px;    
}
.viaje {
    position: relative;
    top: 0px;
    left:0px;
    height: 150px;
    width: 100%;
}
.photo {
    height: 150px;
    width: 100%;
    padding: 0;
    display: block;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.ofertas {
    height: 150px;
    width: 100%;
    background: white;
    padding: 0;
    display: block;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.precio {
    height: 30px;
    width: 80px;
    background: black;
    color: white;
    opacity:0.6;
    border-top-left-radius: 20px;/*Borde izquierdo superior*/
    border-bottom-right-radius: 20px;/*Borde derecho inferier*/ 
    position: absolute;
    top: 0px;
    left:0px;
} 
.price {
    text-align: center;
    font-size: 10px;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    padding: 5px;
}
/*Debajo de la imagen de cuzco*/
.vacio {
    height: 40px;
    width: 100%;
}
.ubic {
    height: 35px;
    width: 70%;
    margin: 0 auto;
}
.time {
    height: 35px;
    width: 70%;
    margin: 0 auto;
}
.tx {
    height: 40px;
    width: 100%;
}
.location {
    float: left;
    height: 35px;
    width: 15%;
    margin: 0 auto;
    padding: 0 auto;
}
.cus {
    margin: 0 auto;
    padding: 0 auto;
}
.cusLetra {
    height: 15px;
    width: 80%;
    margin: 10px 20%;
}
.clock {
    float: left;
    height: 35px;
    width: 15%;
    margin: 0 auto;
    padding: 0 auto;
}
.dn {
    margin: 0 auto;
    padding: 0 auto;
}
.dnLetra {
    height: 15px;
    width: 80%;
    margin: 10px 20%;
}
.tx {
    margin: 0 auto;

}
.sm {
    color: orangered; 
    font-family: Open Sans;
    margin: 0;
    font-size: 16px;
    text-align: center;  
}
/*CAJA DE MÁS EXPERIENCIAS*/
#cajaDeMasExpe {
    height: 70px;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}
#CajaNaranja {
    background: orangered;
    height: 50px;
    width: 50%;
    margin: 0 auto;
    padding: 0 auto;
    border-radius: 10px;
}
#txt {
    display: block;
    color: white;
    margin: 0 auto;
}
/*  caja de comentarios */
#contact {
    background: #f1f1f1;
    padding: 20px 0;  
}
#contact form{
    margin: 0 10%;
    padding: 20px 10%;
    background: white;  
}
#contact form label{
    font-size: 14px;
}
#contact form.inputs{
    border-radius: 10px;
    border: 1px solid #979797;
    margin-bottom: 6px;
    width: 100%;
    padding: 2px 3px;
}
#contact form button{
    display: block;
    margin: 0 auto;
    background: #ff9801;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}
#contact form input{
    width: 100%;
}